#wallet-chat-widget{
    /* position: absolute; */
    /* border: none; */
    width: 15vw;
    height: 50vh;
    /* min-width: 300px; */
    min-width: 410px;
    min-height: 480px;
    border-radius: 15px;
    overflow-y: hidden; /* Hide vertical scrollbar */
    overflow-x: hidden; /* Hide horizontal scrollbar */
    /* bottom: 7.5vh;
    right: 0;  200ms 200ms*/  
    /* border: 1px solid black; */
    transition: width ease 0.25s, min-width ease 0.25s, height ease 0.25s, min-height ease 0.25s;
    filter: drop-shadow(4px 4px 8px rgba(0,0,0,0.5))
}
#wallet-chat-widget__container{
    position: absolute;
    bottom: 1vh;
    right: 2vw;
    z-index: 2147483000;
    user-select: none;
}